<h1 *ngIf="authService.user | async">Привет {{ (authService.user | async)?.email }}!</h1>

<div *ngIf="!(authService.user | async)">
  <form [formGroup]="form" (ngSubmit)="login()">
    <div class="form-group">
      <label for="exampleInputEmail1">Емейл</label>
      <input
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        placeholder="Емейл"
        formControlName="email"
        [ngClass]="{
          'is-invalid': form.get('email').invalid && form.get('email').touched,
          'is-valid': form.get('email').valid && form.get('email').touched
        }"
      >
      <div class="invalid-feedback" *ngIf="form.get('email').invalid && form.get('email').touched">
        <span *ngIf="form.get('email').errors['email']">
          Введите корректный емейл
        </span>
        <span *ngIf="form.get('email').errors['required']">
          Необходимо ввести емейл
        </span>
      </div>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Пароль</label>
      <input
        type="password"
        class="form-control"
        id="exampleInputPassword1"
        placeholder="Пароль"
        formControlName="password"
        [ngClass]="{
          'is-invalid': form.get('password').invalid && form.get('password').touched,
          'is-valid': form.get('password').valid && form.get('password').touched
        }"
      >
      <div class="invalid-feedback" *ngIf="form.get('password').invalid && form.get('password').touched">
      <span *ngIf="form.get('password').errors['required']">
          Необходимо ввести пароль
        </span>
      </div>
    </div>
    <button type="submit" class="btn btn-primary" (click)="login()" [disabled]="form.invalid">Войти</button>
  </form>
</div>

<button class="btn btn-primary" (click)="logout()" *ngIf="authService.user | async">
  Выйти
</button>

<!--<button (click)="signup()" [disabled]="!email || !password">-->
  <!--Signup-->
<!--</button>-->
