<div class="row">
  <div class="col-md-6">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">Валюта 1</label>
      </div>
      <select class="custom-select" id="inputGroupSelect01" [(ngModel)]="currency1" (ngModelChange)="onChange('currency1', $event)">
        <option value="" style="display: none">Выберите</option>
        <option *ngFor="let currency of listCurrencies" [value]="currency.id">{{ currency.currencyName }}</option>
      </select>
      <input type="number" class="form-control" placeholder="Количество" [(ngModel)]="amountFrom">
    </div>
  </div>

  <div class="col-md-6">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect02">Валюта 2</label>
      </div>
      <select class="custom-select" id="inputGroupSelect02" [(ngModel)]="currency2" (ngModelChange)="onChange('currency2', $event)">
        <option value="" style="display: none">Выберите</option>
        <option *ngFor="let currency of listCurrencies" [value]="currency.id">{{ currency.currencyName }}</option>
      </select>
      <input type="number" class="form-control" placeholder="Количество" [value]="amountTo" disabled>
    </div>
  </div>

  <div class="col-md-12 text-center">
    <div class="btn-group" role="group">
      <button
        type="submit"
        class="btn btn-outline-primary"
        (click)="onSubmit()"
        [disabled]="!currency1.length || !currency2.length"
      >
        {{
          (!currency1.length || !currency2.length)
            ? 'Выберите валюты'
            : 'Конвертация ' + currency1 + ' в ' + currency2 // не понял, не дает шаблонные строки использовать
        }}
      </button>
      <button class="btn btn-outline-danger" (click)="onDeleteRow()">Удалить строку</button>
    </div>
  </div>
</div>
